openapi: "3.0.2"

info:
  title: "Tokens API"
  description: "Manage Tapis Tokens."
  version: "1"
  termsOfService: "https://tapis-project.org"
  contact:
    name: "Tenants API"
    url: "https://tapis-project.org"
    email: "cicsupport@tacc.utexas.edu"
  license:
    name: "BSD 3"
    url: "https://github.com/tapis-project/tokens-api"

servers:
- url: http://localhost:5000
  description: Local Development
- url: http://localhost:5001
  description: Local Development II
- url: http://tokens:5000
  description: Local Development III


paths:
  /v3/tokens:
    post:
      security:
        - basicAuth: []
      tags:
      - Tokens
      summary: Generate a token.
      description: Generate a token.
      operationId: create_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTokenRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BasicResponse'
                properties:
                  result:
                    $ref: '#/components/schemas/NewTokenResponse'


    put:
      tags:
      - Tokens
      summary: Generate a new token from a refresh token.
      description: Generate a new token from a refresh token.
      operationId: refresh_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BasicResponse'
                properties:
                  result:
                    $ref: '#/components/schemas/NewTokenResponse'

  /v3/tokens/keys:
    put:
      tags:
      - Tokens
      - Keys
      summary: Update the signing key pair for a tenant.
      description: Generates a new public/private key pair for token signatures and updates the tenant definition accordingly. Returns the public key.
      operationId: update_keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSigningKeysRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BasicResponse'
                properties:
                  result:
                    $ref: '#/components/schemas/NewSigningKeysResponse'



components:
  securitySchemes:
    basicAuth:     # <-- arbitrary name for the security scheme
      type: http
      scheme: basic

  schemas:
    BasicResponse:
      type: object
      properties:
        version:
          type: string
          description: Version of the API
        message:
          type: string
          description: Brief description of the response
        status:
          type: string
          description: Whether the request was a success or failure.
          enum: [success, error]

    NewTokenRequest:
      type: object
      properties:
        account_type:
          type: string
          enum: [user, service]
          description: The type of account (user or service) represented by the token.
        token_tenant_id:
          type: string
          description: The tenant associated with the token to be generated.
        token_username:
          type: string
          description: The username associated with the token to be generated.
        target_site_id:
          type: string
          description: The site_id for the site where this token will be used. Only used when account_type is "service". If not provided, the site_id for the token_tenant_id will be used.
        delegation_token:
          type: boolean
          description: Whether the generated token should be a delegation token.
        delegation_sub_tenant_id:
          type: string
          description: The tenant_id associated with the subject who used a delegation authority in creating the delegation token.
        delegation_sub_username:
          type: string
          description: The username associated with the subject who used a delegation authority in creating the delegation token.
        access_token_ttl:
          type: integer
          description: The TTL, in seconds, for the generated token.
        generate_refresh_token:
          type: boolean
          description: Whether to also generate a refresh token.
        refresh_token_ttl:
          type: integer
          description: The TTL, in seconds, for the refresh token (if generated).
        claims:
          type: object
          description: JSON object of additional claims to add to the standard claims issued with the token. Note - standard claims cannot be modified through this parameter.
      required: [account_type, token_tenant_id, token_username]

    NewTokenResponse:
      type: object
      properties:
        access_token:
          $ref: '#/components/schemas/NewAccessTokenResponse'
        refresh_token:
          $ref: '#/components/schemas/NewRefreshTokenResponse'

    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
          description: The refresh token being used to get a new access token.

    NewAccessTokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: The generated access token.
        expires_at:
          type: string
          description: The date-time string when the generated access token expires.
        expires_in:
          type: integer
          description: The time, in seconds, when the generated access token expires.

    NewRefreshTokenResponse:
      type: object
      properties:
        refresh_token:
          type: string
          description: The generated refresh token.
        expires_at:
          type: string
          description: The date-time string when the generated refresh token expires.
        expires_in:
          type: integer
          description: The time, in seconds, when the generated refresh token expires.

    NewSigningKeysRequest:
      type: object
      properties:
        tenant_id:
          type: string
          description: The tenant to generate the new signing key pair for.

    NewSigningKeysResponse:
      type: object
      properties:
        public_key:
          type: string
          description: The newly generated public key.
